requests
pandas
mysql-connector-python
dash
dash_daq
Django
mysqlclient
django_plotly_dash
dash_bootstrap_components
django_cron
django-tables2
django-bootstrap-v5
django-filter
django-bootstrap-datepicker-plus