{% load bootstrap5 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Betterlyze - {% block title %}{% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Betterlyze shows analyses on events that hapen or happened on betterplace.org" />
    
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'analyse/images/favicon.png' %}" type="image/png">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <!-- Specific CSS goes HERE -->
    <style>
        .logo {
            width : 40px;
        }
        .logo-full {
            max-height : 50px;
        }
    </style>
    {% block stylesheets %}
    {% endblock stylesheets %}
    

</head>
<body>
    <nav class="container navbar navbar-collapse navbar-light bg-light sticky-top"> {% comment %}  {% endcomment%}
        <a class="navbar-brand" href="/">
            <img src="{% static 'analyse/images/logo-full.png' %}" class="logo-full" alt="Betterlyze">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar" style="margin-left:1%">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'analyse:index'%}">Analyse</a></li>
                {% if events %}
                    {% for event in events %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'analyse:detail' event.id %}">{{ event.description }}</a></li>
                    {% endfor %}
                {% endif %} 
                
                <li><hr class="dropdown-divider"></li>
                <li>
                    {% if user.is_authenticated %}
                        {% url 'logout' as uri_logout %}
                        {% bootstrap_button 'Logout' button_type="link" button_class="btn-danger btn-sm" href=uri_logout %}
                    {% else %}
                        {% url 'login' as uri_login %}
                        {% bootstrap_button 'Login' button_type="link" button_class="btn-success btn-sm" href=uri_login %}
                    {% endif %}
                </li>

            </ul>
        </div>
    </nav>

    <div class="container">
    {% block content %}{% endblock content %}
    </div>
    {% comment %} <!-- Enable the dark mode -->
    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label> {% endcomment %}

    {% comment %} {% include 'includes/scripts.html' %} {% endcomment %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}    
    
</body>
<footer class = "container">
    © Source code available on <a href="https://github.com/dorsax/betterplace_fetch">GitHub</a>
</footer>
</html>
