{% extends "base.html" %}

{% block title %}Willkommen{% endblock title %}

{% block content %}


<p style="font-size: 150%">
    Willkommen auf Betterlyze, einer Plattform zum Sammeln und Vergleichen von Spendendaten der Fundraising-Site <a href="https://www.betterplace.org" target="_blank">Betterplace.org</a>.
</p>

<div class="d-flex flex-wrap">
    <div class="card" style="width: 18rem; margin: 1%;">
        <div class="card-body">
            <a href="{% url 'analyse:list'%}" class="btn btn-primary">Alle Events im Überblick</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin: 1%;">
        <div class="card-body">
            <a href="{% url 'analyse:index'%}" class="btn btn-primary">Zur Analyse</a>
        </div>
    </div>
</div>

{% endblock content %}