{% extends "base.html" %}


{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}&Uuml;bersicht{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-auto">
      <h1>Alle Events</h1>
    </div>

    <div class="col-auto">
      
      {% if user.is_authenticated %}
      <a href="{% url 'analyse:create' %}" class="btn btn-success">
        <span class="bi bi-plus-lg"></span>
      </a>
      {% endif %}
    </div>

  </div>
</div>

{% if event_list %}
<div class="d-flex flex-wrap">
    {% for event in event_list %}
    <div class="card" style="width: 18rem; margin: 1%;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{ event }}</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{event.start|date:"d.m.Y"}} - {{event.end|date:"d.m.Y"}}</li>
        <li class="list-group-item">{{event.donation_sum_euro}} &euro;</li>
        </ul>
        <div class="row justify-content-between card-body">
          <div class="col-4">
            <a href="{% url 'analyse:detail' event.id %}"class="btn btn-primary">Details</a>
          </div>
          {% if user.is_authenticated %}
          <div class="col-4">
          <a href="{% url 'analyse:edit' event.id %}" class="btn btn-success">
            <span class="bi bi-pencil"></span>
          </a>
        </div>
          {% endif %}

        </div>
      </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    Keine Events gefunden!
  </div>
{% endif %}


{% endblock content %}