{% load render_table from django_tables2 %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<head>
    <style>
        .pagination li {
            padding-left: 2px;
            padding-right: 2px;
            border-radius: 3px;
            border-width: 10px;
            border-color: black;
        }
    </style>
</head>

{% block content %}

    <h1> {{ event }} </h1>

    <p>Dieses Event fand vom {{event.start|date:"d.m.Y"}} um {{event.start|date:"G:i"}} bis {{event.end|date:"d.m.Y"}} um {{event.end|date:"G:i"}} statt. </p>
    <p>Es wurden {{event.donation_sum_euro}} &euro; Spenden in diesem Event gesammelt.</p>
    <p>Die aktuelle Zahl der geladenen Spenden betragt: {{event.donation_count}}</p>

    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
        <form class="col-sm" action="{% url 'analyse:crawl' event.id %}" method="post">
            {% bootstrap_button 'Crawl' button_type="submit" button_class="btn-primary" %}
            {% csrf_token %}
        </form>
        <form class="col-sm" action="{% url 'analyse:purge' event.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_button 'Purge'  button_type="submit" button_class="btn-primary" %}
        </form>
        </div>
    </div>
    {% endif %}

    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
    {% endif %}
    <div>
        {% render_table table %}
    </div>

    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div> -->
{% endblock %}