{% extends "base.html" %}


{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
{{event.description}}
{% endblock title %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'analyse:list'%}">Übersicht</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ event }}</li>
    </ol>
  </nav>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Dieses Event fand vom {{event.start|date:"d.m.Y"}} um {{event.start|date:"G:i"}} bis {{event.end|date:"d.m.Y"}} um {{event.end|date:"G:i"}} statt. </p>
      <p>Es wurden {{event.donation_sum_euro}} &euro; Spenden in diesem Event gesammelt.</p>
      <p>Die aktuelle Zahl der geladenen Spenden betragt: {{event.donation_count}}</p>
  
      {% if filter %}
      <form action="" method="get" class="form">
          {% bootstrap_form filter.form %}
        <button type="submit" class="btn btn-primary" >
            Filtern
        </button>    </form>
      {% endif %}
    </div>
    <div class="col">
      {% if event.id in request.session.django_plotly_dash.to_compare %}
        <a type="button" class="btn btn-warning" href="{% url 'analyse:toggle_compare' event.id %}" >
          Nicht mehr Vergleichen <span class="badge text-bg-secondary"> {{ request.session.django_plotly_dash.to_compare|length }}</span>
        </a>
      {% else %}
        <a type="button" class="btn btn-primary" href="{% url 'analyse:toggle_compare' event.id %}">
          Vergleichen <span class="badge text-bg-secondary"> {{ request.session.django_plotly_dash.to_compare|length }}</span>
        </a>
      {% endif %}

    </div>
  </div>
</div>
    <div style="margin:2.5%" >
      <p class="alert alert-info" role="alert">
          Achtung: Wenn der Geldbetrag anonym gespendet ist, wird in der Liste ein statistischer Wert angezeigt! Dieser Wert ist für alle anonym gespendeten Beträge gleich!
      </p>
    </div>
    <div>
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>

{% endblock content %}